<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLConnection" connectionString="Data Source=SKY-PC;Initial Catalog=EarthNew;Integrated Security=True"/>
  </connectionStrings>

  <!-- Survivors and Crimes  -->
  <!-- <appSettings>
    <add key="ChildColumnsCount" value="4"/>
    <add key="ParentTable" value="Survivors"/>
    <add key="ChildTable" value="Crimes"/>
    <add key="Label0" value="Crime ID"/>
    <add key="Label1" value="Survivor ID"/>
    <add key="Label2" value="Crime Description"/>
    <add key="Label3" value="Punishment"/>
    <add key="ModifyTitle" value="Modify Crimes"/>
    <add key="AddTitle" value="Add Crimes"/>
    <add key="ParentSelectQuery" value="SELECT * FROM Survivors"/>
    <add key="ChildSelectQuery" value="SELECT * FROM Crimes WHERE survivor_id="/>
    <add key="ChildInsertQuery" value="INSERT INTO Crimes(survivor_id, crime_description, punishment) VALUES (@pid, @l0, @l1)"/>
    <add key="ChildDeleteQuery" value="DELETE FROM Crimes WHERE crime_id=@cid"/>
    <add key="ChildUpdateQuery" value="UPDATE Crimes SET survivor_id=@l0, crime_description=@l1, punishment=@l2 WHERE crime_id=@cid"/>
  </appSettings> -->
  
  <!-- Survivors and Condition -->
  <appSettings>
    <add key="ChildColumnsCount" value="4"/>
    <add key="ParentTable" value="Survivors"/>
    <add key="ChildTable" value="Condition"/>
    <add key="Label0" value="Checkup ID"/>
    <add key="Label1" value="Survivor ID"/>
    <add key="Label2" value="Mental Health"/>
    <add key="Label3" value="Physical Health"/>
    <add key="ModifyTitle" value="Modify Checkup"/>
    <add key="AddTitle" value="Add Checkup"/>
    <add key="ParentSelectQuery" value="SELECT * FROM Survivors"/>
    <add key="ChildSelectQuery" value="SELECT * FROM Condition WHERE survivor_id="/>
    <add key="ChildInsertQuery" value="INSERT INTO Condition(survivor_id, mental_health, physical_health) VALUES (@pid, @l0, @l1)"/>
    <add key="ChildDeleteQuery" value="DELETE FROM Condition WHERE checkup_id=@cid"/>
    <add key="ChildUpdateQuery" value="UPDATE Condition SET survivor_id=@l0, mental_health=@l1, physical_health=@l2 WHERE checkup_id=@cid"/>
  </appSettings>
  
</configuration>